# DATA STRUCTURES

#### 1.Write a code to reverse a String.

In [18]:
string="abhishek"

In [20]:
string[::-1]

'kehsihba'

#### 2.Write a code to count the number of vowels in a string.

In [2]:
user_input=input("enter the string")
count=0
for char in user_input:
    if char.lower() in 'aeiou':
        count+=1
print("no. of vowels are:",count)

enter the string abhishek

no. of vowels are: 3

#### 3.Write a code to check if a given string is a palindrome or not

In [127]:
str1=input("enter the string:")
if str1[::-1]==str1:
    print("It is a palindrome")
else:
    print("not a palindrome")

enter the string: racecar

It is a palindrome

#### 4.Write a code to check if two given strings are anagrams of each other.

In [144]:
str2=input("enter the string1:")
str3=input("enter the string2:")
if sorted(str2)==sorted(str3):
    print("Is is a Anagram")
else:
    print("Is is not a Anagram")

enter the string1: rescue
enter the string2: secure

Is is a Anagram


#### 5.Write a code to find all occurrances of a given substring within another string.

In [169]:
string = "The cat chased the curious cat"
substring = "cat"
for index in range(len(string)):
    if string[index:index + len(substring)] == substring:
        print("Index value of cat:",index)

Index value of cat: 4
Index value of cat: 27

#### 6.Write a code to perform basic string compression using the counts of repeated characters.

In [26]:
def compress_string(s):
    compressed_string = ""
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]: 
            count += 1
        else:
            compressed_string += s[i - 1] + str(count)  
            count = 1  
   
    compressed_string += s[-1] + str(count)
    return compressed_string if len(compressed_string) < len(s) else s
input_string = "aaabcccccaaa"
compressed = compress_string(input_string)
print(f"Compressed string: {compressed}")

Compressed string: a3b1c5a3

#### 7.Write a code to determine if string has all unique characters.

In [12]:
def has_unique_characters(input_string):
    seen_characters = set()
    for char in input_string:
        if char in seen_characters:
            return False
        seen_characters.add(char)
    return True 
input_string = "abcdefg"
result = has_unique_characters(input_string)
print(f"Does '{input_string}' have all unique characters? {result}")

Does 'abcdefg' have all unique characters? True

#### 8.Write a code to convert a given string to uppercase or lowercase.

In [2]:
string=input()
string.upper()

 abhishek

'ABHISHEK'

#### 9.Write a code to count the number of words in a string.

In [4]:
string=input()
len(string)

 abhishek

8

#### 10.Write a code to concatenate two strings without using + operator.

In [8]:
str1="My name is"
str2="Abhishek"
print(str1 ,str2)

My name is Abhishek

#### 11.Write a code to remove all occurances of a specific element from a list.

In [11]:
def remove_all_occurrences(input_list, element):
    return [item for item in input_list if item != element]
my_list = [1, 2, 3, 2, 4, 2, 5, 6]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: [1, 2, 3, 2, 4, 2, 5, 6]
List after removing all occurrences of 2 : [1, 3, 4, 5, 6]

#### 12.Implement a code to find the second largest number in the given list of integer.

In [16]:
ls1=[10,40,42,67,21,89,100,201]
ls2=set(ls1)

type(ls2)

set

#### 13.Create a code to count a occurances of each element in the list and return a dictonary with elements as keys and their counts as values.

In [6]:
elements = ["apple", "banana", "apple", "orange", "banana", "apple"]
count_dict = {}
for i in elements:
    if i in count_dict:
        count_dict[i] += 1
    else:
         count_dict[i] = 1
print(count_dict)

{'apple': 3, 'banana': 2, 'orange': 1}

#### 15.Implement a code to find and remove duplicates from a list while preserving  the original order of elements.

In [10]:
def remove_duplicates(input_list):
    seen = set()
    result = [] 
    for item in input_list:
        if item not in seen:
            result.append(item) 
            seen.add(item)    
    return result
my_list = [1, 2, 3, 2, 4, 1, 5, 3]
unique_list = remove_duplicates(my_list)
print("Original list:", my_list)
print("List without duplicates:", unique_list)

Original list: [1, 2, 3, 2, 4, 1, 5, 3]
List without duplicates: [1, 2, 3, 4, 5]

#### 14.Write a code to reverse a list in-place without using any built in reverse function.

In [52]:
list=[1,2.3,2+3j,True,"Abhishek"]
list[::-1]

['Abhishek', True, (2+3j), 2.3, 1]

#### 16.Create a code to check if a given list is sorted(either i ascending or descending order)or not.

In [66]:
list=["Abhishek","Bhola","chimpu"]
if list==sorted(list):
    print("list is sorted")
else:
    print("list is not sorted")

list is sorted

#### 17.Write a code to merge two sorted lists into a single sorted list.

In [78]:
list1=['viraj','abhay','binod','sahil']
list2=['chotu','himanshu','dimple']
list3=list1+list2
sorted(list3)

['abhay', 'binod', 'chotu', 'dimple', 'himanshu', 'sahil', 'viraj']

#### 18.Implement a code to find the Intersection of two given lists.

In [98]:
list1=['abhishek','rahul','ravi','rakesh']
list2=['ravi','binnu','abhishek','rakesh']
list3=[]
for char in list1:
    if char in list2:
        list3.append(char)
print(list3)

['abhishek', 'ravi', 'rakesh']

#### 19.Create a code to find the union of two lists without duplicates.

In [3]:
list1=['abhishek','rahul','ravi','rakesh']
list2=['ravi','binnu','abhishek','rakesh']
list3=list1+list2
set(list3)
list3

['abhishek', 'rahul', 'ravi', 'rakesh', 'ravi', 'binnu', 'abhishek', 'rakesh']

#### 20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [28]:
import random

# List to be shuffled
lst = [1, 2, 3, 4, 5]
random.shuffle(lst)
print(lst)

[1, 2, 3, 5, 4]

#### 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [87]:
input1 = input("Enter the first tuple : ")
input2 = input("Enter the second tuple : ")
tuple1 = tuple(map(int, input1.split(',')))
tuple2 = tuple(map(int, input2.split(',')))
common_elements = tuple(set(tuple1) & set(tuple2))
print("Common elements:", common_elements)

Enter the first tuple :  1,2,4,6,8
Enter the second tuple :  2,4,1,6,9,7

Common elements: (1, 2, 4, 6)

#### 22.Create a code that prompts the user to enter two sets of integers separated by commas.Then,print the intersections of these two sets.

In [89]:
input1 = input("Enter the first set : ")
input2 = input("Enter the second set : ")
set1 = set(map(int, input1.split(',')))
set2 = set(map(int, input2.split(',')))
intersection = set1 & set2
print("The intersection of two sets:", intersection)

Enter the first set :  1,2,3,5,7
Enter the second set :  7,4,3,2,8

The intersection of two sets: {2, 3, 7}

#### 23.Write a code to concatenate two tuples.The function should take two tuples as input containing elements from both input tuples.

In [91]:
input1 = input("Enter the first tuple : ")
input2 = input("Enter the second tuple : ")
tuple1 = tuple(map(int, input1.split(',')))
tuple2 = tuple(map(int, input2.split(',')))
tuple3=tuple1+tuple2
print("concatenation of two tuples :", tuple3)

Enter the first tuple :  1,2,3,4
Enter the second tuple :  5,6,7,8,9

concatenation of two tuples : (1, 2, 3, 4, 5, 6, 7, 8, 9)

#### 24.Develop a code that prompts the user to input two sets of strings.Then,print the elements that are present in the first set but not in the second.

In [5]:
str1= input("Enter the elements of the first set: ")
str1_set = set(str1.split())
str2= input("Enter the elements of the second set: ")
str2_set = set(str2.split())
str3_set = set()
for element in str1_set:
    if element not in str2_set:
        str3_set.add(element)
print("Elements present in the first set but not in the second set:")
for element in str3_set:
    print(element)

Enter the elements of the first set:  this is my bike
Enter the elements of the second set:  this is bike

Elements present in the first set but not in the second set:
my

#### 25.Create a code that takes a tuples and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [93]:
input1 = input("Enter the first set of strings : ")
input2 = input("Enter the second set of strings : ")
set1 = set(input1.split(','))
set2 = set(input2.split(','))
difference = set1 - set2
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings :  abhishek,rohan,vineet
Enter the second set of strings :  rohan,vineet,vikas

Elements in the first set but not in the second set: {'abhishek'}

#### 26.Write a code that prompts the user to input two sets of characters.Then, print the union of these two sets.

In [99]:
input1 = input("Enter the first set of characters : ")
input2 = input("Enter the second set of characters : ")
set1 = set(input1.split(','))
set2 = set(input2.split(','))
union_set = set1 | set2
print("The union of the two sets is:", sorted(union_set))

Enter the first set of characters :  a,b,c
Enter the second set of characters :  c,d,e

The union of the two sets is: ['a', 'b', 'c', 'd', 'e']

#### 27.Develop a code that takes a tuple of integers as input.The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [115]:
input1=input("entere the tuples :")
tuple1=tuple(map(int ,input1.split(',')))
maximum=max(tuple1)
print("Maximum Value :", maximum)

entere the tuples : 1,4,66,44,99

Maximum Value : 99

#### 28.Create a code that defines two sets of integers.Then,print the union,intersection and difference of these two sets.

In [9]:
def print_set_operations(set1, set2):
    union_set = set1.union(set2)
    print("Union:", union_set)
    intersection_set = set1.intersection(set2)
    print("Intersection:", intersection_set)
    difference_set = set1.difference(set2)
    print("Difference (set1 - set2):", difference_set)
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print_set_operations(set1, set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

#### 29.Write a code that takes a tuple and an element as input.The function should return the count of occurances of the given element in the tuple.

In [8]:
def count_element_in_tuple(input_tuple, element):
    return input_tuple.count(element)
my_tuple = (1, 2, 3, 4, 2, 5, 2, 6)
element = 2
count = count_element_in_tuple(my_tuple, element)
print(f"The element {element} occurs {count} times in the tuple.")

The element 2 occurs 3 times in the tuple.

#### 30.Develop acode that prompts the user to input two sets of strings.Then,print the symmetric difference of these two sets.

In [7]:
def get_input_set(prompt):
    return set(input(prompt).split())

def print_symmetric_difference(set1, set2):
    sym_diff = set1.symmetric_difference(set2)
    print("Symmetric Difference:", sym_diff)
set1 = get_input_set("Enter the first set of strings (separated by spaces): ")
set2 = get_input_set("Enter the second set of strings (separated by spaces): ")
print_symmetric_difference(set1, set2)

Enter the first set of strings (separated by spaces):  apple,banana,pineapple,pomgranate
Enter the second set of strings (separated by spaces):  potato,ginger,guard

Symmetric Difference: {'potato,ginger,guard', 'apple,banana,pineapple,pomgranate'}

#### 31.Write a code that takes a list of words as input and return a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [6]:
def word_frequencies(word_list):
    freq_dict = {}
    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    
    return freq_dict
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
freq_dict = word_frequencies(words)

print(freq_dict)

{'apple': 3, 'banana': 2, 'orange': 1}

#### 32.Write a code that takes two dictionaries as input and merge them into a single dictionary.If there are common keys,the values should be added together.

In [5]:
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict
dict1 = {'apple': 10, 'banana': 5, 'orange': 15}
dict2 = {'banana': 3, 'orange': 7, 'grape': 12}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'apple': 10, 'banana': 8, 'orange': 22, 'grape': 12}

#### 33.Write a code to access a value in a nested dictionary.The function should take the dictionary and the list of keys as input,and return the corresponding value.If any of the keys do not exist in the dictionary,the function should return None.

In [4]:
def get_nested_value(nested_dict, key_list):
    current_value = nested_dict
    try:
        for key in key_list:
            current_value = current_value[key]
        return current_value
    except KeyError:
        return None

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

key_list = ['a', 'b', 'c']
print(get_nested_value(nested_dict, key_list)) 

key_list_missing = ['a', 'b', 'd']
print(get_nested_value(nested_dict, key_list_missing))

42
None

#### 34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values.You can choose whether to sort in ascending or descending order.

In [2]:
def sort_dict_by_value(input_dict, ascending=True):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict
my_dict = {'apple': 10, 'banana': 5, 'orange': 15}
sorted_asc = sort_dict_by_value(my_dict, ascending=True)
sorted_desc = sort_dict_by_value(my_dict, ascending=False)

print("Ascending order:", sorted_asc)
print("Descending order:", sorted_desc)

Ascending order: {'banana': 5, 'apple': 10, 'orange': 15}
Descending order: {'orange': 15, 'apple': 10, 'banana': 5}

#### 35.Write a code that inverts a dictionary,swappingnkeys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same values by storing the keys as a list in the inverted dictionary.

In [121]:
original_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3
}
inverted_dict = {}
for key, value in original_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
print("Original dictionary:", original_dict)
print("Inverted dictionary:", inverted_dict)

Original dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3}
Inverted dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}